# ============================================
# BASE DE DATOS
# ============================================
DB_HOST=mysql
DB_PORT=3306
DB_USER=root
DB_PASSWORD=                      # Vacío para desarrollo (solo local)
DB_NAME=uajs_smart_campus

# ============================================
# PUERTOS DE LOS SERVICIOS
# ============================================
GATEWAY_PORT=3000                 # API Gateway
AUTH_SERVICE_PORT=3001            # Autenticación
USERS_SERVICE_PORT=3002           # Usuarios
EVENTS_SERVICE_PORT=3003          # Eventos
RESERVATIONS_SERVICE_PORT=3004    # Reservas
NOTIFICATIONS_SERVICE_PORT=3005   # Notificaciones
REQUESTS_SERVICE_PORT=3006        # Solicitudes
RESOURCES_SERVICE_PORT=3007       # Recursos
PQRS_SERVICE_PORT=3008            # PQRS
INFO_ACADEMICA_SERVICE_PORT=3009  # Información Académica
CONFIGURACION_SERVICE_PORT=3010   # Configuración
SEARCH_SERVICE_PORT=3011            # Búsqueda (Elasticsearch)

# ============================================
# ELASTICSEARCH
# ============================================
ELASTICSEARCH_NODE=http://localhost:9200
ELASTICSEARCH_USERNAME=
ELASTICSEARCH_PASSWORD=
ELASTICSEARCH_INDEX_PREFIX=uajs_

