DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=uajs_smart_campus

GATEWAY_PORT=3000
AUTH_SERVICE_PORT=3001
USERS_SERVICE_PORT=3002
EVENTS_SERVICE_PORT=3003
RESERVATIONS_SERVICE_PORT=3004
NOTIFICATIONS_SERVICE_PORT=3005

JWT_SECRET=tu_clave_secreta_muy_larga_y_aleatoria_aqui
JWT_EXPIRES=24h
