.app {
    min-height: 100vh;
    background-color: #f5f6fa;
}

.app__main {
    margin-left: 250px;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

.app__content {
    flex: 1;
    padding: 24px;

    box-sizing: border-box;
}